nav {
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: 0 10px 6px -6px #00000060;
}

.card {
    margin: 20px;
    background: #212529;
    border: 1px solid #000000;
    -webkit-box-shadow: 0 10px 6px -6px #00000060;
}

.link-color, .link-color::after, .link-color:hover {
    color: #006688;
}

body {
    background-image: url("../images/team-gen-background.jpg");
    background-color: #000;
    background-repeat: repeat;
    background-position: center;
    background-size: 200px;
}